<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>By: <%= author %></h2>

    <h3>Abstract</h3>
    <p><%= content.abstract %></p>

    <h3>Document</h3>
    <p><%= content.doc %></p>

    <h3>Link</h3>
    <p><a href="<%= content.link %>">Research Document</a></p>

    <h4>Published on: <%= meta.pub_date.toDateString() %></h4>
    <h4>Category: <%= meta.category %></h4>
    <h4>Department: <%= meta.department %></h4>

    <h3>Keywords: <%= add.keywords %></h3>
    <h4>Contributors: <%= add.contributors %></h4>
</body>
</html>